/* Make header/nav a bar */
header {
    position: fixed;        /* stays at top */
    top: 0;
    left: 0;
    width: 100%;            /* full width */
    background: #12141a;    /* dark background */
    border-bottom: 1px solid #2a3144;
    z-index: 1000;
  }
  
  /* Container keeps nav centered */
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  header h1 {
    margin: .05rem 0;    /* small top & bottom margin */
    line-height: 1;
  }
  
  /* Horizontal nav menu */
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;              /* space between links */
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  nav a:hover {
    color: #7cb8ff;         /* accent color on hover */
  }
  
  /* Push content down so it doesn’t hide under fixed bar */
  body {
    margin: 0;
    padding-left: 2rem;
    padding-right: 10rem;
    padding-top: 7rem;
    font-family: system-ui, sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
  }

  .card h3 {
    margin-bottom: 0.25em;  /* tighten gap */
  }
  
  .card .meta {
    margin-top: 0;          /* remove extra space */
    font-size: 0.9em;       /* optional: make meta smaller */
    color: gray;            /* optional: style it like a subtitle */
  }
  
  
  html {
    scroll-padding-top: 7rem; /* leaves 7rem space at top */
  }

  para{
    text-indent:1.5rem;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }

  sectionHeader {
    display: block;           /* make it behave like <h2> */
    position: relative;
    padding-bottom: 10px;
    font-size: 40px;
  }
  
  sectionHeader::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;              /* stretch across */
    height: 2px;              /* thickness */
    background-color: white;  /* line color */
  }
  

  .subtitle{
    position: relative;
    padding-bottom: 10px;    
  }
  .subtitle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 1px;                   /* line thickness */
    background-color: rgb(255, 255, 255);       /* line color */
  }
